[submodule "themes/hugo-icarus-theme"]
	path = themes/hugo-icarus-theme
	url = git@github.com:devhacks/hugo-icarus-theme.git
	branch = master
[submodule "dist"]
	path = dist
	url = git@github.com:devhacks/devhacks.github.io.git
